<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,114}</string>
                <key>spriteSourceSize</key>
                <string>{56,114}</string>
                <key>textureRect</key>
                <string>{{271,1},{56,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,247}</string>
                <key>spriteSourceSize</key>
                <string>{268,247}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_hua_1.png</string>
            <key>size</key>
            <string>{328,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3f3814bcd0749d8cc5d16943f6679b8:209e8b654e1832212e649043ae3e791d:041b710a5dd6360fcfceeed77a3b6e2c$</string>
            <key>textureFileName</key>
            <string>s_hua_1.png</string>
        </dict>
    </dict>
</plist>
