<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,114}</string>
                <key>spriteSourceSize</key>
                <string>{56,114}</string>
                <key>textureRect</key>
                <string>{{541,1},{56,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,247}</string>
                <key>spriteSourceSize</key>
                <string>{268,247}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,247}</string>
                <key>spriteSourceSize</key>
                <string>{268,247}</string>
                <key>textureRect</key>
                <string>{{271,1},{268,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huahua.png</string>
            <key>size</key>
            <string>{598,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d424bab560b094cf3d9ef7e1c0ee7b3:147edb8183964ebe1ac2b2a7b102b865:444d48f4a3a83c2460c7f18a93903ff6$</string>
            <key>textureFileName</key>
            <string>huahua.png</string>
        </dict>
    </dict>
</plist>
