<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phoenix1/close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,39}</string>
                <key>spriteSourceSize</key>
                <string>{34,39}</string>
                <key>textureRect</key>
                <string>{{376,197},{34,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix1/l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,45}</string>
                <key>spriteSourceSize</key>
                <string>{103,45}</string>
                <key>textureRect</key>
                <string>{{441,85},{103,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phoenix1/l_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{412,197},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix1/l_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{320,105},{60,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phoenix1/l_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,119}</string>
                <key>spriteSourceSize</key>
                <string>{70,119}</string>
                <key>textureRect</key>
                <string>{{213,167},{70,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phoenix1/r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{439,190},{44,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phoenix1/r_foot_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,47}</string>
                <key>spriteSourceSize</key>
                <string>{28,47}</string>
                <key>textureRect</key>
                <string>{{441,55},{28,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phoenix1/r_foot_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{29,47}</string>
                <key>textureRect</key>
                <string>{{441,24},{29,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phoenix1/r_foot_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,53}</string>
                <key>spriteSourceSize</key>
                <string>{21,53}</string>
                <key>textureRect</key>
                <string>{{441,1},{21,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phoenix1/r_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,63}</string>
                <key>spriteSourceSize</key>
                <string>{40,63}</string>
                <key>textureRect</key>
                <string>{{334,167},{40,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix1/r_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,55}</string>
                <key>spriteSourceSize</key>
                <string>{90,55}</string>
                <key>textureRect</key>
                <string>{{381,105},{90,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phoenix1/r_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,105}</string>
                <key>spriteSourceSize</key>
                <string>{164,105}</string>
                <key>textureRect</key>
                <string>{{213,1},{164,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phoenix1/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,105}</string>
                <key>spriteSourceSize</key>
                <string>{102,105}</string>
                <key>textureRect</key>
                <string>{{334,1},{102,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phoenix1/torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,235}</string>
                <key>spriteSourceSize</key>
                <string>{210,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_ui_phoenix1.png</string>
            <key>size</key>
            <string>{495,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63392ca4db6e3c15d7a210ee791cd20d:1e1f9ea1f8dba9b1b38ac3beca389659:d1d37f7ac6e31dae79384753489cb6df$</string>
            <key>textureFileName</key>
            <string>spine_ui_phoenix1.png</string>
        </dict>
    </dict>
</plist>
