<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common/2032_daoguang1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,-22}</string>
                <key>spriteSize</key>
                <string>{130,256}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{223,1},{130,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/2032_daoguang1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,-37}</string>
                <key>spriteSize</key>
                <string>{102,222}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{637,1},{102,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/2032_daoguang2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-24}</string>
                <key>spriteSize</key>
                <string>{146,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,272}</string>
                <key>textureRect</key>
                <string>{{1,571},{146,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/2032_daoguang3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-30}</string>
                <key>spriteSize</key>
                <string>{104,204}</string>
                <key>spriteSourceSize</key>
                <string>{208,264}</string>
                <key>textureRect</key>
                <string>{{149,571},{104,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/2032_daoguang4_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,-32}</string>
                <key>spriteSize</key>
                <string>{112,222}</string>
                <key>spriteSourceSize</key>
                <string>{320,300}</string>
                <key>textureRect</key>
                <string>{{355,1},{112,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/2032_daoguang4_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,-35}</string>
                <key>spriteSize</key>
                <string>{108,216}</string>
                <key>spriteSourceSize</key>
                <string>{320,300}</string>
                <key>textureRect</key>
                <string>{{637,105},{108,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/2032_daoguang5_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,3}</string>
                <key>spriteSize</key>
                <string>{220,284}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/2032_daoguang5_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-29}</string>
                <key>spriteSize</key>
                <string>{102,220}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{861,1},{102,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/2032_daoguang6_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,3}</string>
                <key>spriteSize</key>
                <string>{194,282}</string>
                <key>spriteSourceSize</key>
                <string>{280,300}</string>
                <key>textureRect</key>
                <string>{{1,287},{194,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/2032_daoguang6_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,-31}</string>
                <key>spriteSize</key>
                <string>{108,214}</string>
                <key>spriteSourceSize</key>
                <string>{280,300}</string>
                <key>textureRect</key>
                <string>{{855,105},{108,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/2032_penjian1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{110,88}</string>
                <key>spriteSourceSize</key>
                <string>{120,90}</string>
                <key>textureRect</key>
                <string>{{891,683},{110,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/2032_penjian1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,90}</string>
                <key>spriteSourceSize</key>
                <string>{120,90}</string>
                <key>textureRect</key>
                <string>{{1027,571},{110,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/2032_penjian2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{1042,849},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/2032_penjian2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{86,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,68}</string>
                <key>textureRect</key>
                <string>{{1003,785},{86,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/Asset_ground_black_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{469,167},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/Asset_ground_black_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{631,215},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/Asset_ground_black_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{793,215},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/Asset_ground_black_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{955,215},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/Asset_ground_black_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{197,287},{160,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/Asset_ground_black_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{279,259},{160,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/Asset_ground_black_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{469,249},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/Asset_ground_black_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{469,331},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/Asset_ground_black_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{469,413},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/Asset_ground_black_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{631,455},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/Asset_ground_black_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{749,547},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/Asset_ground_black_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{291,721},{160,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/Asset_ground_black_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{373,677},{160,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/Asset_ground_black_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{455,677},{160,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{631,297},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/circle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{789,297},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/diyun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{537,647},{124,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/fx_particle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{255,721},{35,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/fx_xiantiao_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{911,571},{110,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/fx_xiantiao_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{116,136}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{945,415},{116,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/fx_xiantiao_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{116,148}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{483,495},{116,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/fx_xiantiao_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{116,152}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{197,449},{116,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/fx_xiantiao_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{116,154}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{935,297},{116,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/fx_xiantiao_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{114,152}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{255,567},{114,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/fx_xiantiao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{110,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{371,525},{110,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/fx_xiantiao_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{108,146}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{601,537},{108,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/fx_xiantiao_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{106,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{361,225},{106,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/fx_xiantiao_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{106,146}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{361,377},{106,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/fx_xiantiao_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{102,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{793,443},{102,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/fx_xiantiao_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,30}</string>
                <key>spriteSize</key>
                <string>{102,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,160}</string>
                <key>textureRect</key>
                <string>{{1003,683},{102,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1071,105},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/glow_huan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{761,731},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/glow_sphere.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{469,1},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/particle_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1042,911},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/particle_kuai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{761,833},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/s_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{291,883},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/smoke2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,102}</string>
                <key>spriteSourceSize</key>
                <string>{121,102}</string>
                <key>textureRect</key>
                <string>{{515,863},{121,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/smoke_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{663,765},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/smoke_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{863,773},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/smoke_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{483,645},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/suipian_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{158,138}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{151,777},{158,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/suipian_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,8}</string>
                <key>spriteSize</key>
                <string>{148,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,797},{148,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/suipian_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,16}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1083,1},{46,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/t_circle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{736,875},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/t_circle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{838,875},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/t_penjian_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{373,839},{100,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/t_penjian_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{749,629},{100,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/t_penjian_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{90,122}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{537,771},{90,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/t_penjian_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-7}</string>
                <key>spriteSize</key>
                <string>{60,116}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{663,647},{60,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/t_penjian_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,8}</string>
                <key>spriteSize</key>
                <string>{36,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{965,773},{36,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/t_snow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{638,863},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{940,875},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/yan_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{36,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{151,937},{36,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/yan_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{36,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1091,297},{36,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/yan_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{34,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{373,941},{34,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/yan_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{36,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{945,533},{36,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine_fight_common_2.png</string>
            <key>size</key>
            <string>{1129,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a00ecb807805e914ad2e6359359f2f38:32634d49e68459e3adea48702425c229:f16abbc0f8ace755642f5edbccccc087$</string>
            <key>textureFileName</key>
            <string>spine_fight_common_2.png</string>
        </dict>
    </dict>
</plist>
